<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        
        <title>add Category</title>
        <!-- Link shortcut icon-->
        <link rel="shortcut icon" type="image/ico" href="/images/favicon2.html" /> 
        <!-- Link css-->
        <link rel="stylesheet" type="text/css" href="/css/zice.style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/icon.css"/>
        <link rel="stylesheet" type="text/css" href="/css/ui-custom.css"/>
        <link rel="stylesheet" type="text/css" href="/css/timepicker.css"  />
        <link rel="stylesheet" type="text/css" href="/components/colorpicker/css/colorpicker.css"  />
        <link rel="stylesheet" type="text/css" href="/components/elfinder/css/elfinder.css" />
        <link rel="stylesheet" type="text/css" href="/components/datatables/dataTables.css"  />
        <link rel="stylesheet" type="text/css" href="/components/validationEngine/validationEngine.jquery.css" />
         
        <link rel="stylesheet" type="text/css" href="/components/jscrollpane/jscrollpane.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/components/fancybox/jquery.fancybox.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/components/tipsy/tipsy.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/components/editor/jquery.cleditor.css"  />
        <link rel="stylesheet" type="text/css" href="/components/chosen/chosen.css" />
        <link rel="stylesheet" type="text/css" href="/components/confirm/jquery.confirm.css" />
        <link rel="stylesheet" type="text/css" href="/components/sourcerer/sourcerer.css"/>
        <link rel="stylesheet" type="text/css" href="/components/fullcalendar/fullcalendar.css"/>
        <link rel="stylesheet" type="text/css" href="/components/Jcrop/jquery.Jcrop.css"  />
   
        
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/components/flot/excanvas.min.js"></script><![endif]-->
        
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/components/ui/jquery.ui.min.js"></script> 
        <script type="text/javascript" src="/components/ui/jquery.autotab.js"></script>
        <script type="text/javascript" src="/components/ui/timepicker.js"></script>
        <script type="text/javascript" src="/components/colorpicker/js/colorpicker.js"></script>
        <script type="text/javascript" src="/components/checkboxes/iphone.check.js"></script>
        <script type="text/javascript" src="/components/elfinder/js/elfinder.full.js"></script>
        <script type="text/javascript" src="/components/datatables/dataTables.min.js"></script>
        <script type="text/javascript" src="/components/scrolltop/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="/components/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="/components/jscrollpane/mousewheel.js"></script>
        <script type="text/javascript" src="/components/jscrollpane/mwheelIntent.js"></script>
        <script type="text/javascript" src="/components/jscrollpane/jscrollpane.min.js"></script>
        <script type="text/javascript" src="/components/spinner/ui.spinner.js"></script>
        <script type="text/javascript" src="/components/tipsy/jquery.tipsy.js"></script>
        <script type="text/javascript" src="/components/editor/jquery.cleditor.js"></script>
        <script type="text/javascript" src="/components/chosen/chosen.js"></script>
        <script type="text/javascript" src="/components/confirm/jquery.confirm.js"></script>
        <script type="text/javascript" src="/components/validationEngine/jquery.validationEngine.js" ></script>
        <script type="text/javascript" src="/components/validationEngine/jquery.validationEngine-en.js" ></script>
        <script type="text/javascript" src="/components/vticker/jquery.vticker-min.js"></script>
        <script type="text/javascript" src="/components/sourcerer/sourcerer.js"></script>
        <script type="text/javascript" src="/components/fullcalendar/fullcalendar.js"></script>
        <script type="text/javascript" src="/components/flot/flot.js"></script>
        <script type="text/javascript" src="/components/flot/flot.pie.min.js"></script>
        <script type="text/javascript" src="/components/flot/flot.resize.min.js"></script>
        <script type="text/javascript" src="/components/flot/graphtable.js"></script>

        <script type="text/javascript" src="/components/uploadify/swfobject.js"></script>
        <script type="text/javascript" src="/components/uploadify/uploadify.js"></script>        
        <script type="text/javascript" src="/components/checkboxes/customInput.jquery.js"></script>
        <script type="text/javascript" src="/components/effect/jquery-jrumble.js"></script>
        <script type="text/javascript" src="/components/filestyle/jquery.filestyle.js" ></script>
        <script type="text/javascript" src="/components/placeholder/jquery.placeholder.js" ></script>
    <script type="text/javascript" src="/components/Jcrop/jquery.Jcrop.js" ></script>
        <script type="text/javascript" src="/components/imgTransform/jquery.transform.js" ></script>
        <script type="text/javascript" src="/components/webcam/webcam.js" ></script>
    <script type="text/javascript" src="/components/rating_star/rating_star.js"></script>
    <script type="text/javascript" src="/components/dualListBox/dualListBox.js"  ></script>
    <script type="text/javascript" src="/components/smartWizard/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="/js/zice.custom.js"></script>    
     

        </head>     
         <body class="dashborad">        
        <div id="alertMessage" class="error"></div> 
                       
          <%= render "layouts/header" %>
          
            
            <div id="content">
                <div class="inner">
					<div class="topcolumn">
						<div class="logo"></div>
                            <ul  id="shortcut">
                                <li> <a href="#" title="Back To home"> <img src="images/icon/shortcut/home.png" alt="home"/><strong>Home</strong> </a> </li>
                                <li> <a href="#" title="Website Graph"> <img src="images/icon/shortcut/graph.png" alt="graph"/><strong>Graph</strong> </a> </li>
                                <li> <a href="#" title="Setting" > <img src="images/icon/shortcut/setting.png" alt="setting" /><strong>Setting</strong></a> </li> 
                                <li> <a href="#" title="Messages"> <img src="images/icon/shortcut/mail.png" alt="messages" /><strong>Message</strong></a><div class="notification" >10</div></li>
                            </ul>
					</div>
                    <div class="clear"></div>
                       
                       
                
                      <div class="onecolumn" >
                      <div class="header">
                      <span><span class="ico  gray  document"></span> Add Product </span>
                      <div id="buttom_top">
                     
                          </ul>
                      </div>
                      </div><!-- End header --> 
                      
                      <br class="clear"/>
                      <div class="content" >
                     
                      <!--/start TAB/-->
                          <div id="uploadTab">
                          <ul class="tabs" >
                              <li ><a href="#tab1"> Product Details</a></li>       
                        </ul>
                        <div class="tab_container" >
                              <div id="tab1" class="tab_content"> 
                                  <div class="load_page">
                                    <div style="margin-left:25px">
                                     <!--<form  id="add" action="#"> -->
                                     <!--   <div class="section">-->
                                     <!--       <label>Name </label>   -->
                                     <!--       <div> <input type="text"  placeholder="Username" name="username" id="username"  class="validate[required,minSize[6],maxSize[20],] medium" /></div>-->
                                     <!--      </div><br />-->
                                            
                                     <!--   <div class="section">-->
                                     <!--       <label>Description </label>-->
                                     <!--       <textarea rows="4" cols="60" name="product_description" placeholder="Product Name"></textarea></div>-->
                                      
                                            <!-- Select Category-->
                                     <!--        <div class="section">-->
                                     <!--        <label>Category </label>   -->
                                     <!--       <select name="category" required/>-->
                                     <!--       <option value="mens_clothing" selected>Men's Clothing</option>-->
                                     <!--       <option value="womens_clothing">Women's Clothing</option>-->
                                     <!--       <option value="computers">Computers & Tablets </option>-->
                                     <!--       <option value="household_accesories">Household Accesories</option>-->
                                     <!--       <option value="household_electronics">Household Electronics</option>-->
                                     <!--       <option value="mens_shoes">Men's Shoes</option>-->
                                     <!--       <option value="womens_shoes">Womens Shoes</option>-->
                                     <!--       <option value="sport_shoes">Sporting Shoes</option>-->
                                            
                                     <!--       </select>-->
                                     <!--       </div>-->


                                         <!--Upload Image *crosses fingers* -->
                                     <!--       <div class="section "> <label>Upload Image</label><input type="file" name="fileupload" accept="image/*" />-->
                                     <!--    </div> <br />-->
                                         
                                     <!--    <div class="section last">-->
                                     <!--     <a class="uibutton submit_form" >submitForm</a>-->
                                     <!--     <a class="uibutton special "   onclick="$('#add').get(0).reset();" title="Reset  Form"   >Clear Form</a>   -->
                                     <!--    </div>-->
                                     <!-- </form>-->
                                     <%= form_for :product, url: products_path do |f| %>
                                          <p>
                                            <%= f.label :Name %><br>
                                            <%= f.text_field :Product_Name %>
                                          </p>
                                         
                                          <p>
                                            <%= f.label :Description %><br>
                                            <%= f.text_area :Description %>
                                          </p>
                                          
                                          <p>
                                            <%= f.label :Price %><br>
                                            <%= f.number_field :Price %>
                                          </p>
                                          
                                          <p>
                                             <%= f.select(:Category_ID, @category_options) %>
                                          </p>
                                          
                                          <p>
                                                
                                                <%= f.file_field :Image %>
                                               
                                               
                                          </p>
                                         
                                          <p>
                                            <%= f.submit %>
                                          </p>
                                     <% end %>
                                    </div>
                                  </div>  
                              </div><!--tab1-->
                                    
                              
                      </div>
                      </div>  <!--/END TAB/-->
                      <div class="clear"></div>
                      </div>
                      </div><!-- // onecolumn --> 

                    <div class="clear"></div>
                    <div id="footer"> &copy; Copyright 2016 <span class="tip"><a  href="#" title="PNEC" >PNEC Enterprises</a> </span> </div>
                </div> <!--// End inner -->
            </div> <!--// End content --> 
</body>
</html>