 <div id="header" >
                <div id="account_info"> 
                    <img src="/images/avatar.png" alt="Online" class="avatar" />
                     <% if user_signed_in? %>
        

                    <div class="setting" title="Profile Setting"><b>Welcome,</b> <b class="red"><%= link_to current_user.name, '#' %></b><img src="/images/gear.png" class="gear"  alt="Profile Setting" ></div>
                    
                    
                    <div class="" title=""><b > <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></b> </div> 
               
                <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
  <li></li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %> 
        </div>
            </div> <!--//  header -->
            <div style="position:fixed;z-index: 5;">
			<div id="shadowhead"></div>
            <div id="hide_panel"> 
                  <a class="butAcc" rel="0" id="show_menu"></a>
                  <a class="butAcc" rel="1" id="hide_menu"></a>
                  <a class="butAcc" rel="0" id="show_menu_icon"></a>
                  <a class="butAcc" rel="1" id="hide_menu_icon"></a>
            </div>           
                   
                  <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                <li class="limenu <% if params[:controller]=='welcome'%>select<%end%> " ><%= link_to 'Dashboard' , dashboard_path %></li>
                      
               
                <li class="limenu <% if params[:controller]=='categories'%>select<%end%> " ><a href="categories"><span class="ico gray shadow pictures_folder"></span><b>Categories </b></a>
                       <ul>
                          <li ><%= link_to 'List Categories' , categories_path %></li>
                          <li ><%= link_to 'Add Category' , new_category_path %></li>
                         
                                 </ul></li>
                <li class="limenu <% if params[:controller]=='products'%>select<%end%> " ><a href="/products"><span class="ico gray shadow pictures_folder"></span><b>Products </b></a>
                        <ul>
                        <li ><%= link_to 'List Products' , products_path %></li>
                        <li ><%= link_to 'Add Product' , new_product_path %></li></li>
                        </ul></li>
                        
                <li class="limenu <% if params[:controller]=='orders' %>select<%end%> "  ><a href="/orders"><span class="ico gray shadow pictures_folder"></span><b>Orders </b></a>
                        <ul>
                        <li ><%= link_to 'List Orders' , orders_path %></li>
                        </li>
                        </ul></li>
                <li class="limenu <% if params[:controller]=='users' %>select<%end%> "  ><a href="/users"><span class="ico gray shadow pictures_folder"></span><b>Users </b></a>
                        <ul>
                        <li ><%= link_to 'List Users' , users_path %></li>
                        </li>
                        </ul></li>
                        
                <li class="limenu" ><a href="/"><span class="ico gray shadow pictures_folder"></span><b>To Shop</a></li>
                        
                                 

                      
                      
                       <!--<li class="limenu" ><a href="typography.html"><span class="ico gray  shadow paragraph_align_left"></span><b>Typography</b></a></li> -->
                      <!-- <li class="limenu" ><a href="inelement.html"><span class="ico gray shadow abacus"></span><b>Interface elements </b></a></li> -->
                      <!-- <li class="limenu" ><a href="map.html"><span class="ico gray shadow  location"></span><b>Map location </b></a></li> -->
                      <!-- <li class="limenu" ><a href="icon.html"><span class="ico gray  shadow satellite"></span><b>Icon and Button </b></a></li> -->
            <!--<li class="limenu" ><a href="404.html"><span class="ico gray  shadow firewall"></span><b>Error Pages</b></a></li>-->
                        
                    </ul>
              </div>
              </div>